<div class="media">
    <div class="media__image">
            <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#computer"></use>
            </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus magni maxime doloremque quia excepturi unde delectus sequi odio. Aliquam praesentium soluta aperiam aliquid adipisci numquam quaerat iste quod perferendis veritatis.
        </p>
    </div>
</div>